{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tags Tag(id, nom, slug, projets ARRAY projets)
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(tag, 'nom' ~ app.request.locale) }}
{% endblock %}

{% block content1 %}

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Projets liés au tag "{{ attribute(tag, 'nom' ~ app.request.locale) }}"</h1></h1>
      </div>
    </div>
  </div>
</div>

<div class="section section-white">
  <div class="container">
    <div class="row">

{% include 'projets/liste.html.twig' with {projets: tag.projets} %}

    </div>
  </div>
</div>

{% endblock %}
