{#
  ./templates/posts/liste.html.twig
  Variables disponibles:
    - posts(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, image)
#}

<div class="section">
<div class="container">
<div class="row">

  {% for post in posts %}
  <!-- Blog Post Excerpt -->
  <div class="col-sm-6">
    <div class="blog-post blog-single-post">
      <div class="single-post-title">
        <h2>{{ attribute(post, 'titre' ~ app.request.locale) }}</h2>
      </div>

      <div class="single-post-image">
        <img src="{{asset('img/blog/'~post.image)}}" alt="{{asset('img/blog/'~post.image)}}">
      </div>

      <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>{{ post.dateCreation | date('d-m-Y') }} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
      </div>

      <div class="single-post-content">
        <p>
          {{ attribute(post, 'texteLead' ~ app.request.locale) }}
        </p>
      <a href="{{ path('app_posts_show', {id: post.id, slug: attribute(post, 'slug' ~ app.request.locale) }) }}" class="btn">{{ 'blog.more' | trans }}</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
</div>
</div>
