{#
  ./templates/posts/miniature.html.twig
  Variables disponibles:
    - posts(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, dateCreation)

#}


  <h2>{{ 'accueil_posts.titre' | trans }}</h2>
  {% for post in posts %}
  <div class="row">
    <div class="col-xs-4"><a href="{{ path('app_posts_show', {id: post.id, slug: attribute(post, 'slug' ~ app.request.locale) }) }}"><img src="{{asset('img/blog/'~post.image)}}" alt="{{ attribute(post, 'titre' ~ app.request.locale) }}"></a></div>
    <div class="col-xs-8">
      <div class="caption"><a href="{{ path('app_posts_show', {id: post.id, slug: attribute(post, 'slug' ~ app.request.locale) }) }}">{{ attribute(post, 'titre' ~ app.request.locale) }}</a></div>
      <div class="date">14 August 2014 </div>
      <div class="intro">{{ attribute(post, 'texteLead' ~ app.request.locale) }}<a href="{{ path('app_posts_show', {id: post.id, slug: attribute(post, 'slug' ~ app.request.locale) }) }}">{{'blog.more'| trans}}...</a></div>
    </div>
  </div>
  {% endfor %}

<!-- End Featured News -->
