{#
  ./templates/posts/recent.html.twig
  Variables disponibles:
    - posts(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, dateCreation)
#}

<h4>{{ 'post.recent' | trans }}</h4>

<ul class="recent-posts">
  {% for post in posts %}
      <li><a href="{{ path('app_posts_show', {id: post.id, slug: attribute(post, 'slug' ~ app.request.locale) }) }}">{{ attribute(post, 'titre' ~ app.request.locale) }}</a></li>
  {% endfor %}
</ul>
