{#
  ./templates/posts/show.html.twig
  Variables disponibles:
    - post posts(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, dateCreation)

#}

{% extends 'base.html.twig' %}

{% block title %}
    {{ attribute(post, 'titre' ~ app.request.locale) }}
  {% endblock %}

{% block content1 %}

<!-- Page Title -->
<div class="section section-breadcrumbs">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>{{ attribute(post, 'titre' ~ app.request.locale) }}</h1>
  </div>
</div>
</div>
</div>

<div class="section">
<div class="container">
<div class="row">
  <!-- Blog Post -->
  <div class="col-sm-8">
    <div class="blog-post blog-single-post">
      <div class="single-post-title">
        <h2>{{ attribute(post, 'titre' ~ app.request.locale) }}</h2>
      </div>

      <div class="single-post-image">
        <img src="{{asset('img/blog/'~post.image)}}" alt="{{asset('img/blog/'~post.image)}}">
      </div>
      <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>{{ post.dateCreation | date('d-m-Y') }}<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
      </div>
      <div class="single-post-content">
        <h3>{{ attribute(post, 'titre' ~ app.request.locale) }}</h3>
        <p>
          {{ attribute(post, 'texteLead' ~ app.request.locale) }}
        </p>
        <p>
          {{ attribute(post, 'texteSuite' ~ app.request.locale) }}
        </p>
      </div>
    </div>
  </div>
  <!-- End Blog Post -->
  <!-- Sidebar -->
  <div class="col-sm-4 blog-sidebar">

{{ render(controller('App\\Controller\\PostController::indexAction', {
            vue: 'recent',
            limit: 4 }))}}

{{ render(controller('App\\Controller\\CategorieController::indexAction', {
            limit: 10 }))}}

  </div>
  <!-- End Sidebar -->
</div>
</div>
</div>

{% endblock %}
