<!--

./partials/footer.html.twig

-->

<div class="container">

  <div class="row">

    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{ 'footer.contact' | trans }}</h3>
      <p class="contact-us-details">
          <b>{{ 'footer.address' | trans }}</b> 123 Downtown Avenue, Manhattan, New York, United States of America<br/>
          <b>{{ 'footer.phone' | trans }}</b> +1 123 45678910<br/>
          <b>Fax:</b> +1 123 45678910<br/>
          <b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
        </p>
    </div>
    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{ 'footer.social' | trans }}</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
      <div>
        <img src="{{asset('img/icons/facebook.png')}}" width="32" alt="Facebook">
        <img src="{{asset('img/icons/twitter.png')}}" width="32" alt="Twitter">
        <img src="{{asset('img/icons/linkedin.png')}}" width="32" alt="LinkedIn">
      <img src="{{asset('img/icons/rss.png')}}" width="32" alt="RSS Feed">
    </div>
    </div>
    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{ 'footer.company' | trans }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-copyright">
        &copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.
        | <a href="{{path('easyadmin')}}">Administration</a>
      </div>
    </div>
  </div>
</div>
