<!--

./partials/header.html.twig

-->

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="{{asset('img/logo.png')}}" alt="Basica"></a>
    </div>
    {{ render(controller('App\\Controller\\PageController::indexAction',  {current_path: app.request.get('_route')})) }}
    <div class="float-right">
      <a href="{{path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"  {% if app.request.locale == 'fr' %} class="active"{% endif %}>FR</a> |
      <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"  {% if app.request.locale == 'en' %} class="active"{% endif %}>EN</a>
    </div>
</div>
