{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, dateCreation)

#}

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
{% for page in pages %}
{% if (page.id == 1 and current_path == 'app_homepage') or currentPage == page.id %}
<li class=" active">
{% else %}
    <li>
     {% endif %}
      <a class="nav-link " href="{{ path('app_pages_show', {id: page.id, slug: attribute(page, 'slug' ~ app.request.locale) }) }}">
        {{ attribute(page, 'titre' ~ app.request.locale) }}
      </a>
  </li>
{% endfor %}
</ul>
</div>
