{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - pages page(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, dateCreation)

#}

{% extends 'base.html.twig' %}

{% block title %}
{{ attribute(page, 'titre' ~ app.request.locale) }}
{% endblock %}

{% block content1 %}

{% if page.id == 1 %}
{{ render(controller('App\\Controller\\SlideController::indexAction')) }}
{{ render(controller('App\\Controller\\ProjetController::indexAction', {
            vue: 'index',
            limit: 6 }))}}

<!-- Our Articles -->
<div class="section">
<div class="container">
<div class="row">
<!-- Featured News -->
<div class="col-sm-6 featured-news">

{{ render(controller('App\\Controller\\PostController::indexAction', {
            vue: 'miniature',
            limit: 3 }))}}

</div>

{% include 'news/index.html.twig'%}

</div>
</div>
</div>

{% endif %}

{% if page.id != 1 %}
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ attribute(page, 'titre' ~ app.request.locale) }}</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.id == 2 %}

<div class="section">
<div class="container">
<div class="row">
<div class="col-sm-12">
    <h2>{{ attribute(page, 'titre' ~ app.request.locale) }}</h2>
    <p>{{ attribute(page, 'texte' ~ app.request.locale) }}</p>
  </div>
</div>
{{ render(controller('App\\Controller\\ProjetController::indexAction', {
            vue: 'liste',
            limit: 6 }))}}
  <hr>
  </div>
  <ul class="pager">
     <li><a  class="moreProjets" href="#" data-url="{{path('app_projets_more')}}">{{ 'projets.more' | trans }}</a></li>
  </ul>
</div>
{% endif %}

{% if page.id == 3 %}

{{ render(controller('App\\Controller\\PostController::indexAction', {limit: 4 }))}}

{% endif %}
{% if page.id == 4 %}
<!-- Page Title -->

<div class="section section-map">
      <div class="col-sm-12" style="padding:0;">
        <!-- Map -->
        <div id="contact-us-map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
      <br />
      <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
      </small>
      </iframe>
        </div>
        <!-- End Map -->
  </div>
</div>
<div class="section">
<div class="container">
    <div class="row">
  <h3>{{ 'contact.titre' | trans }}</h3>
  </hr>
      <div class="col-sm-6">
        <!-- Contact Info -->
        <p class="contact-us-details">
          <b>{{ 'footer.address' | trans }}</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
          <b>{{ 'footer.phone' | trans }}</b> +44 123 654321<br/>
          <b>Fax:</b> +44 123 654321<br/>
          <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
        </p>
        <!-- End Contact Info -->
      </div>
      <div class="col-sm-6">
      </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
