{#
  ./templates/categories/show.html.twig
  Variables disponibles:
    - categories categorie(id, nomFR, nomEN, slugFR, slugEN)

#}

{% extends 'base.html.twig' %}

{% block title %}
{{ attribute(categorie, 'nom' ~ app.request.locale) }}
{% endblock %}

{% block content1 %}
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Posts liés à la catégorie "{{ attribute(categorie, 'nom' ~ app.request.locale) }}"</h1></h1>
      </div>
    </div>
  </div>
</div>
{% include 'posts/liste.html.twig' with {posts: categorie.posts} %}
{% endblock %}
