{#
  ./templates/news/index.html.twig
  Variables disponibles:
    -
#}



<div class="col-sm-6 latest-news">

<a class="twitter-timeline" data-width="462" data-height="450" href="https://twitter.com/QDroussin?ref_src=twsrc%5Etfw">Tweets by QDroussin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
<!-- End Featured News -->
