{#
  ./templates/slides/index.html.twig
  Variables disponibles:
    - slides(id, titreFR, titreEN, slugFR, slugEN, texteFR, texteEN, image)
#}

<section id="main-slider" class="no-margin">

    <div class="carousel slide">
        <ol class="carousel-indicators">
        {% set active = true %}
            {% for slide in slides %}
          {% if active == true %}
          <li data-target="#main-slider" data-slide-to= "{{loop.index0}}" class:"active" ></li>
          {% else %}
            <li data-target="#main-slider" data-slide-to= "{{loop.index0}}" ></li>
        {% endif %}

            {% endfor %}
        </ol>

        <div class="carousel-inner">
        {% set active = true %}
        {% for slide in slides %}
        {% if active == true %}
      <div class="item active" style="background-image: url({{asset('img/slides/'~slide.image)}})">

      {% else %}
        <div class="item " style="background-image: url({{asset('img/slides/'~slide.image)}})">

      {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel-content centered">
                            <h2 class="animation animated-item-1">{{ attribute(slide, 'titre' ~ app.request.locale) }}</h2>
                            <p class="animation animated-item-2">{{ attribute(slide, 'texte' ~ app.request.locale) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% set active = false %}
        {% endfor %}
        </div>
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->
