<!DOCTYPE html>
<html lang="{_locale}">

<head>
{% include 'partials/head.html.twig' with {title: block('title')} %}
</head>

<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
{% include 'partials/header.html.twig' %}
    </header><!--/header-->

{% block content1 %}{% endblock %}

	    <!-- Footer -->
	    <div class="footer">
{% include 'partials/footer.html.twig' %}
	    </div>

        <!-- Javascripts -->
{% include 'partials/scripts.html.twig' %}
    </body>
</html>
