{#
  ./templates/projets/index.html.twig
  Variables disponibles:
    - projets(id, titreFR, titreEN, slugFR, slugEN, texteLeadFR, texteLeadEN, texteSuiteFR, texteSUiteEN, dateCreation, image, client, auteur)
#}

{% block title %}
{% endblock %}

{% block content1 %}
<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
      <h1>{{ 'accueil_projets.titre' | trans }}</h1>
      </div>

{{ render(controller('App\\Controller\\ProjetController::indexAction', {
            vue: 'liste',
            limit: 6 }))}}

   </div>
  </div>
</div>
{% endblock %}
