{#
  ./templates/projets/liste.html.twig
  Variables disponibles:
    - projets(id, titreFR, titreEN, slugFR, slugEN, texteLeadFR, texteLeadEN, texteSuiteFR, texteSUiteEN, dateCreation, image, client, auteur)

#}

<ul class="grid cs-style-3 listeProjets">
{% for projet in projets %}
<div class="col-md-4 col-sm-6 projet-preview">
  <figure>
    <img src="{{asset('img/portfolio/'~projet.image)}}" alt="{{asset('img/portfolio/'~projet.image)}}">
    <figcaption>
      <h3>{{ attribute(projet, 'titre' ~ app.request.locale) }}</h3>
      <span> {{ projet.auteur.nom }} </span>
      <a href="{{ path('app_projets_show', {id: projet.id, slug: attribute(projet, 'slug' ~ app.request.locale) }) }}">{{ 'accueil_projets.details' | trans }}</a>
    </figcaption>
  </figure>
</div>
{% endfor %}
</ul>
