{#
  ./templates/projets/show.html.twig
  Variables disponibles:
  - projets(id, titreFR, titreEN, slugFR, slugEN, texteLeadFR, texteLeadEN, texteSuiteFR, texteSUiteEN, dateCreation, image, client, auteur)


#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(projet, 'titre' ~ app.request.locale) }}
  {% endblock %}

{% block content1 %}
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ attribute(projet, 'titre' ~ app.request.locale) }}</h1>
      </div>
    </div>
  </div>
</div>

    <div class="section">
    <div class="container">
      <div class="row">
        <!-- Product Image & Available Colors -->
        <div class="col-sm-6">
          <div class="product-image-large">
            <img src="{{asset('img/portfolio/'~projet.image)}}" alt="{{asset('img/portfolio/'~projet.image)}}">
          </div>
          <div class="colors">
          <span class="color-white"></span>
          <span class="color-black"></span>
          <span class="color-blue"></span>
          <span class="color-orange"></span>
          <span class="color-green"></span>
        </div>
        </div>
        <!-- End Product Image & Available Colors -->
        <!-- Product Summary & Options -->
        <div class="col-sm-6 product-details">
          <h2>{{ attribute(projet, 'titre' ~ app.request.locale) }}</h2>
          <p>
            {{ attribute(projet, 'texteLead' ~ app.request.locale) }}
        </p>
          <p>
            {{ attribute(projet, 'texteSuite' ~ app.request.locale) }}
        </p>
        <h3>{{ attribute(projet, 'titre' ~ app.request.locale) }}</h3>
        <p><strong>Client: </strong>{{ projet.client.nom }}</p>
        <p><strong>Date: </strong>{{ projet.dateCreation | date('d-m-Y') }}</p>
        <p><strong>Tags: </strong>
          {% for tag in projet.tags %}
              <a href="{{ path('app_tags_show', {id: tag.id, slug: attribute(tag, 'slug' ~ app.request.locale) }) }}">{{ attribute(tag, 'nom' ~ app.request.locale) }}</a>
          {% endfor %}
        </p>
        </div>
        <!-- End Product Summary & Options -->

      </div>
  </div>
</div>

<hr>





{% endblock %}
