{#
  ./templates/projets/liste.html.twig
  Variables disponibles:
    - projets(id, titreFR, titreEN, slugFR, slugEN, texteLeadFR, texteLeadEN, texteSuiteFR, texteSUiteEN, dateCreation, image, client, auteur)

#}

<div class="section">
<div class="container">
<div class="row">

<div class="section-title">
<h1>{{ 'projets.similar' | trans }}</h1>
</div>

<ul class="grid cs-style-2">

  {% for projet in projets %}
  <div class="col-md-3 col-sm-6">
    <figure>
      <img src="{{asset('img/portfolio/'~projet.image)}}" alt="{{asset('img/portfolio/'~projet.image)}}">
      <figcaption>
        <h3>{{ attribute(projet, 'titre' ~ app.request.locale) }}</h3>
        <span>{{ projet.auteur.nom }}</span>
        <a href="{{ path('app_projets_show', {id: projet.id, slug: attribute(projet, 'slug' ~ app.request.locale) }) }}">{{ attribute(tag, 'nom' ~ app.request.locale) }}</a>
      </figcaption>
    </figure>
  </div>
  {% endfor %}

</ul>


</div>
</div>
</div>
